## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Eclipse
*.settings
.settings/ 
*.classpath
*.project
*.metadata/

# Java
*.class
*.jar
*.war
*.ear

# Maven
target/

# Robocode config
robocode.core/config/

# Netbeans
nb-configuration.xml

robocode.core/nb-configuration.xml

robocode.core/config/robocode.properties

robocode.core/config/window.properties